.wrapper {
    width: 240px;
    box-shadow: 2px 0px 0px rgb(0 0 0 / 13%);
    min-height: 1000px;
    background-color: var(--background-sidebar);
}
.logo {
    width: 100%;
    height: var(--default-layout-header-height);
}
