.wrapper {
    width: 100%;
    max-height: calc(100vh - 96px);
    min-height: 160px;
    overflow-y: auto;
    box-shadow: 1px 1px 1px rgb(255 255 255 / 20%), -1px 1px 1px rgb(255 255 255 / 20%);
    background-color: var(--background-sub);
    border-radius: 8px;
    padding-top: 8px;
    box-sizing: border-box;
}
