.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    &:hover {
        cursor: pointer;
        background-color: var(--background-hover);
    }
}

.thumb {
    height: 40px;
    width: 50px;
    border-radius: 5%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
}

.song {
    font-size: 1.6rem;
    font-weight: 600;
}

.artists {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-sub);
    &:hover {
        text-decoration: underline;
    }
}
