.wrapper {
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    margin: 0 32px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-main);
}

.search,
.search-result {
    width: 540px;
}

.search {
    height: 40px;
    padding-left: 16px;
    background-color: var(--background-sub);
    display: flex;
    position: relative;
    border: 1px solid transparent;
    border-radius: 2rem;

    input {
        font-size: 1.4rem;
        color: var(--text-main);
        background-color: transparent;
        height: 100%;
        flex: 1;
        caret-color: palevioletred;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--text-main);
    }

    &::after {
        content: '';
        top: 6px;
        position: absolute;
        right: 52px;
        width: 1px;
        height: 28px;
        background-color: var(--background-stream);
    }

    &:focus-within {
        border-color: #fff;
    }
}
.search-result {
}

.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
    color: var(--text-sub);
}

.loading,
.clear {
    font-size: 1.6rem;
    background-color: transparent;
    color: var(--text-sub);
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
}

.search-btn {
    color: var(--text-sub);
    font-size: 2rem;
    width: 52px;
    border-radius: 0 2rem 2rem 0;
    background-color: transparent;

    &:hover {
        background-color: var(--background-hover);
    }
    &:active {
        background-color: var(--background-press);
    }
}
.actions {
    display: flex;
}
